.tile-controls {
  display: none;
  position: absolute;
  width: 100px;
  box-shadow: 1px 1px 4px -1px grey;

  & button {
    width: 100%;
    background-color: white;
    border: none;
    margin: 0;
    padding: 10px;
    transition: all 0.3s ease-out;

    & + button {
      border-top: 1px solid gainsboro;
    }

    &:hover {
      background-color: #d5f88f;
      transition: all 0.3s ease-in;
    }
  }
}