@font-face {
  font-family: 'ESKARGOT';
  src:  local('ESKARGOT'), url('./fonts/ESKARGOT.ttf')  format('truetype');
}

@font-face {
  font-family: 'Ferrum';
  src:  local('Ferrum'), url('./fonts/Ferrum-wy99.otf')  format('opentype');
}

@font-face {
  font-family: 'SpaceAndAstronomy';
  src:  local('SpaceAndAstronomy'), url('./fonts/SpaceAndAstronomy-pZRD.ttf')  format('truetype');
}

@font-face {
  font-family: 'BreathZelda';
  src:  local('TheWildBreathofZelda6'), url('./fonts/TheWildBreathofZelda6.otf')  format('opentype');
}

@font-face {
  font-family: 'Immortal';
  src:  local('Immortal'), url('./fonts/IMMORTAL.ttf')  format('truetype');
}